<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Login</title>
</head>
<body>
    <div class="container">
    <div class="login-box">
        <div class="header">
         <span class="icon">🍃</span>
          Botanic Cure
        </div>
        <div class="login-header">
            <header>Login</header>
        </div>

        <!-- ✅ LOGIN FORM -->
        <form method="POST" action="/login">
            <div class="input-box">
                <input type="text" name="email" id="email" class="input-field" placeholder="Email" autocomplete="off" required>
            </div>
            <div class="input-box">
                <input type="password" name="password" id="password" class="input-field" placeholder="Password" autocomplete="off" required>
            </div>
            <div class="forgot">
                <section>
                    <input type="checkbox" id="check">
                    <label for="check">Remember me</label>
                </section>
                <section>
                    <a href="#">Forgot password</a>
                </section>
            </div>
            <div class="input-submit">
                <button type="submit" class="submit-btn" id="submit"></button>
                <label for="submit">Sign In</label>
            </div>
        </form>
        <!-- ✅ END LOGIN FORM -->

        <div class="sign-up-link">
            <p>Don't have account? <a href="{{ url_for('register') }}">Sign Up</a></p>
        </div>
    </div>
    </div>
</body>
</html>
